body {
	background-image: url(./img/background.png);
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Fija la imagen */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#flyCat {
    width: 400px;
    height: 200px;
}